{% extends 'base.html.twig' %}

{% block tutoriels %}active{% endblock %}

{% block titrePage %}Visionner les tutoriels de l'application{% endblock %}

{% block stylesheets %}
    <style>
        .card:hover {
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
            box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        }
    </style>
{% endblock %}

{% block contenu %}
    <div class="card-deck">
        <!-- Créer évaluation par parties -->
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: bold" class="card-title">{% trans %}tuto_titre_creer_eval_parties{% endtrans %}</h5>
                <hr>
                <p class="card-text">
                    {% trans %}tuto_texte_creer_eval_parties{% endtrans %}
                </p>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rZ1H6Ujy6Qs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Eval simple -->
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: bold" class="card-title">{% trans %}tuto_titre_eval_simple{% endtrans %}</h5>
                <hr>
                <p class="card-text">
                    {% trans %}tuto_texte_eval_simple{% endtrans %}
                </p>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AmC0aWu1lic"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Eval parties -->
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: bold" class="card-title">{% trans %}tuto_titre_eval_parties{% endtrans %}</h5>
                <hr>
                <p class="card-text">
                    {% trans %}tuto_texte_eval_parties{% endtrans %}
                </p>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kNF_UK9glPg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card-deck">
        <!-- Groupes plusieurs évals -->
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: bold" class="card-title">{% trans %}tuto_titre_plusieurs_evals_groupes{% endtrans %}</h5>
                <hr>
                <p class="card-text">
                    {% trans %}tuto_texte_plusieurs_evals_groupes{% endtrans %}
                </p>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rsfmRswfOm4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Statuts plusieurs évals -->
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: bold" class="card-title">{% trans %}tuto_titre_plusieurs_evals_statut{% endtrans %}</h5>
                <hr>
                <p class="card-text">
                    {% trans %}tuto_texte_plusieurs_evals_statut{% endtrans %}
                </p>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t5kKmjajPE4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Comparaison résultats -->
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: bold" class="card-title">{% trans %}tuto_titre_comparaison{% endtrans %}</h5>
                <hr>
                <p class="card-text">
                    {% trans %}tuto_texte_comparaison{% endtrans %}
                </p>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yHr9ZVouTfw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card-deck">
        <!-- Fiche étudiant -->
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: bold" class="card-title">{% trans %}tuto_titre_fiche_etudiant{% endtrans %}</h5>
                <hr>
                <p class="card-text">
                    {% trans %}tuto_texte_fiche_etudiant{% endtrans %}
                </p>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4PdGrRzLcio"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Evolution Groupes -->
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: bold" class="card-title">{% trans %}tuto_titre_evolution_groupe{% endtrans %}</h5>
                <hr>
                <p class="card-text">
                    {% trans %}tuto_texte_evolution_groupe{% endtrans %}
                </p>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xAJunHc8F0Y"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Evolution Statuts -->
        <div class="card">
            <div class="card-body">
                <h5 style="font-weight: bold" class="card-title">{% trans %}tuto_titre_evolution_statut{% endtrans %}</h5>
                <hr>
                <p class="card-text">
                    {% trans %}tuto_texte_evolution_statut{% endtrans %}
                </p>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/isQG-4FbU3Y"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
