{% extends 'base.html.twig' %}

{% block titrePage %}
    {% if enseignant == app.user %}
        {% trans %}modifier_mdp_enseignant_connecte{% endtrans %}
    {% else %}
        {% trans with {'nom': enseignant.nom, 'prenom': enseignant.prenom } %}modifier_mdp_autre_enseignant{% endtrans %}
    {% endif %}
{% endblock %}

{% block enseignants %}active{% endblock %}

{% block contenu %}
    {{ form_start(form) }}
    <div class="table-responsive">
        <table align="center" class="table">
            <tbody>
            <tr>
                <th class="intitule"><label for="enseignant_motDePasse" class="required">{% trans %}form_enseignant_mdp{% endtrans %}</label></th>
                <td class="champ">{{ form_errors(form.password) }}{{ form_widget(form.password) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class='bouton' align=center>
        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">{% trans %}enregistrer{% endtrans %}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
