{% extends 'base.html.twig' %}

{% block titrePage %}API Statistiques{% endblock %}

{% block statistiques %}active{% endblock %}

{% block showStatistiques %}show{% endblock %}

{% block statistiquesAPI %}active{% endblock %}

{% block contenu %}

    <blockquote class="blockquote">
        <p class="mb-0">Cette fonctionnalité permet de générer un lien pour obtenir les statistiques sous format JSON
        à l'aide d'une requête GET. Si vous n'êtes pas certain de ce que vous faites, il est recommandé de générer les statistiques
            de manière assistée <a href="{{ path('statistiques') }}" >ici</a>.</p>
    </blockquote>

    <h1 class="h4 mb-0 text-gray-800">Choisir le type de statistiques pour lequel générer le lien</h1>
    <br/>
    <select id="typeStat" class="custom-select">
        <option value="0">Choisir un type de statistiques</option>
        <option value="1">Statistiques sur une évaluation simple ou par parties</option>
        <option value="2">Statistiques sur un groupe d'étudiants sur plusieurs évaluations</option>
        <option value="3">Statistiques sur un statut d'étudiants sur plusieurs évaluations</option>
        <option value="4">Statistiques sur l'évolution d'un groupe d'étudiants</option>
        <option value="5">Statistiques sur l'évolution d'un statut d'étudiants</option>
        <option value="6">Statistiques sur la comparaison d'une évaluation à un ensemble d'évaluations</option>
        <!-- option value="7">Fiche étudiant</option -->
    </select>

    <br/>
    <br/>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header bg-white" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Choisir parties
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-white" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Choisir groupes
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-white" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Choisir statuts
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
    <br/>
    <h1 class="h4 mb-0 text-gray-800">Lien généré</h1>
    <br/>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-secondary" id="btnCopy" onclick="copyUrl()" >Copier url</button>
        </div>
        <input type="text" class="form-control" id="urlGeneree" aria-describedby="basic-addon3">
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const selectTypeStats = $('#typeStat');
        const inputURL = $("#urlGeneree");
        $(document).ready(function (){
            selectTypeStats.prop('selectedIndex',0); //Réinitialisation select
            inputURL.val("{{ app.request.getSchemeAndHttpHost() }}/api/statistiques/"); //Réinitialisation URL
        })
        selectTypeStats.on('change', function () { //Changement de type de statistiques
            switch (selectTypeStats.val()) {
                case "1":
                    inputURL.val(inputURL.val() + 'classique/');
                    break;
                case "2":
                    break;
                case "3":
                    break;
                case "4":
                    break;
                case "5":
                    break;
                case "6":
                    break;
                case "7":
                    break;
                default:
                    break;
            }
        })
        function copyUrl() {
            inputURL.select();
            document.execCommand('copy');
            document.getSelection().empty();
            inputURL.blur();
        }
    </script>
{% endblock %}
